[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bunq-sdk = "*"
flask = "*"

[dev-packages]
pylint = "*"
rope = "*"
ptpython = "*"

[requires]
python_version = "3.6"
